@import './variable.scss';

.btn {
  display: inline-block;
  border: 1px solid $primary;
  border-radius: 2px;
  color: $primary;
  font-size: 16px;
  padding: 8px 20px;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background: $primary;
    color: $white;
  }
  &.large {
    padding: 11px 20px;
  }
}

.btn-dark {
  border-color: #999999;
  color: $dark;
  &:hover {
    color: $dark;
    background: $white;
    border-color: #333;
  }
}

.btn-primary {
  border-color: #9BBAFF;
  background: #F3F7FF;
  color: $primary;
  &:hover {
    background: #E6EEFF;
    color: $primary!important;
    border-color: #9BBAFF;
  }
}

.btn-primary-fill {
  border-color: transparent;
  background: $primary;
  color: $white;
  &:hover {
    border-color: transparent;
    background: #6092FF;
    color: $white!important;
  }
}