// text color
$text-main: #111;
$text-gray: #777;
$text-gray-light: #999;
$text-gray-dark: #111;

// border
$border-gray: #F2F2F2;
$border-color: #eee;

// theme color
$primary: #2F70FF;
$white: #FFF;
$black: #000;
$danger: #EE4343;
$text-red: #EE4343;
$text-blue: #2F70FF;
$input-border-color: #e0e0e0;

$w-md: 768px;
