.title {
  white-space: pre-line;
  color: #111;
  margin: 0;
}

p {
  margin: 0;
}

h1.title {
  font-size: 22px;
  line-height: 30px;
  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 40px;
  }
}

h2.title {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 17px;
  text-align: left;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
}

h3.title {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}

.des {
  font-size: 13px;
  line-height: 20px;
  color: #666;
}

.subTitle {
  white-space: pre-line;
  font-size: 16px;
  color: #666;
  line-height: 23px;
  text-align: left;
  @media (min-width: 768px) {
    text-align: center;
    max-width: 700px;
    margin: auto;
  }
}

.content {
  display: inline-block;
  overflow: hidden;
}

.section1,
.section7 {
  :global {
    .btn {
      display: block;
      width: 100%;
      @media (min-width: 768px) {
        width: 280px;
      }
    }
  }
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.section2,
.section4,
.section6 {
  background: #fafbfc;
}

.section1 {
  .title {
    margin-bottom: 24px;
    text-align: left;
  }

  .subTitle {
    margin-bottom: 50px;
    text-align: left;
  }

  .banner {
    margin-top: 40px;
  }
}

.section2 {
  img {
    margin-bottom: 30px;
    width: 98px;
  }

  .subTitle {
    margin-bottom: 55px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}

.section3 {
  ul {
    text-align: left;
    padding-left: 14px;
    margin-bottom: 60px;
    li:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  .banner {
    width: 80%;
    margin: auto;
  }
}

.section4 {
  .subTitle {
    margin-bottom: 42px;
  }

  .banner {
    width: 100%;
    max-width: 426px;
  }
}

.section5 {
  padding: 70px 0 40px;
  background: #4699fc;
  color: #ffffff;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    img {
      width: 171px;
      height: 161px;
      margin-bottom: 25px;
    }

    .des,
    .title {
      color: #ffffff;
    }

    li {
      margin-bottom: 30px;
    }
  }
}

.section6 {
  .title {
    margin-bottom: 40px;
  }

  .banner {
    width: 100%;
    max-width: 346px;
  }
}

.section7 {
  .banner {
    max-width: 393px;
    width: 100%;
    margin-bottom: 40px;
  }

  .subTitle {
    margin-bottom: 42px;
  }

  :global {
    .btn {
      margin: auto;
    }
  }
}

@media (min-width: 768px) {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5,
  .section6,
  .section7 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .content {
    width: 100%;
  }

  .section1 {
    display: flex;

    .title {
      margin-top: 30px;
    }

    .banner {
      display: block;
      width: 100%;
      margin-top: 0;
    }

    .content {
      max-width: 417px;
    }
  }

  .section2 {
    ul {
      display: flex;
      justify-content: space-between;

      li {
        width: 25%;
        margin-bottom: 0;
      }
    }
  }

  .section3 {
    display: flex;
    flex-direction: row-reverse;
    .banner {
      display: block;
      flex: 1;
    }

    ul {
      margin-left: 10%;
      margin-bottom: unset;
      width: 40%;
    }
  }

  .section5 {
    ul {
      display: flex;
      justify-content: space-around;

      li {
        width: 30%;
      }
    }
  }
}
