@import '../styles/index.scss';

@media (min-width: 768px) {
  .wrap {
    display: flex;
    justify-content: space-between;
  }
  .box {
    &:not(:last-child) {
      margin-right: 80px;
    }
  }
  .cell {
    width: 0;
    flex: 1;
  }
}

.wrap {
  padding: 30px 0;
}

.box {
  padding: 20px 50px;
  border: 1px solid #e0e0e0;
  margin-bottom: 30px;
  ul {
    padding: 0;
    list-style-position: inside;
    list-style-type: square;
  }
}

.cell {
  width: 100%;
  box-sizing: border-box;
}

.list {
  line-height: 1.5;
  font-size: 13px;
  color: #666;
  li {
    margin-bottom: 10px;
  }
}

.title {
  margin: 0;
  padding-top: 30px;
  font-size: 23px;
}

.type {
  font-size: 24px;
}

.price {
  color: $primary;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}
