@import '../styles/index.scss';

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrap {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.box {
  padding: 20px 50px;
  border: 1px solid #e0e0e0;
  &:not(:last-child) {
    margin-right: 80px;
  }

  ul {
    li {
      list-style-position: inside;
      list-style-type: square;
    }
  }
}

.cell {
  width: 0;
  flex: 1;
}

.list {
  line-height: 1.5;
  font-size: 13px;
  color: #666;
  li {
    margin-bottom: 10px;
  }
}

.title {
  margin: 0;
  padding-top: 30px;
  font-size: 23px;
}

.type {
  font-size: 24px;
}

.price {
  color: $primary;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}

.link {
  display: inline-block;
  border: 1px solid #999;
  border-radius: 2px;
  color: #111;
  font-size: 16px;
  padding: 11px 20px;
  text-align: center;
  margin-bottom: 20px;
  &:hover {
    border-color: #333333;
    color: #111;
  }
}