.wrap {
  background: #2e384c;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.links {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
  margin-bottom: 20px;
}

.link {
  display: block;
  color: inherit;
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .links {
    float: right;
    border-bottom: none;
    margin-bottom: 0;
  }
  .link {
    display: inline-block;
    margin-bottom: 0;
  }
}
