.wrap {
  background: #2E384C;
  color: rgba(255,255,255, 0.6);
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  display: inline-block;
  color: inherit;
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .links {
    float: right;
  }
  .link {
    margin-bottom: 0;
  }
}
