.wrap {
  background: #fff;
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
}

.cell {
  flex: 1;
  display: none;
}

nav {
  display: none;
}

.language {
  display: none;
}

.logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 18px;

  img {
    height: 50px;
    margin-right: 5px;
  }
}

.link {
  margin-right: 30px;
  color: #111;
}

.menu {
  display: block;
  position: absolute;
}

.content {
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .3s ease;
  text-align: left;
  background: #fff;
  padding: 0 30px;
  box-sizing: border-box;
  touch-action: none;
  &.show {
    padding-top: 20px;
    height: calc(100vh - 50px);
  }
  .link {
    touch-action: auto;
    font-size: 14px;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #AAA;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .wrap {
    position: static;
  }

  nav {
    display: block;
  }

  .menu {
    display: none;
  }

  .logo {
    margin-right: 60px;
    margin-left: 0;
  }

  .cell {
    display: block;
  }

  .language {
    display: block;
  }
}